@layer base {
    
    body {
        margin: 0;
        background-color: rgba(21,21,21,1);
        font-family: 'Gabarito', cursive;
        color: white;        
    }

    /*Estilo para links gerais*/

    a:link {
        text-decoration: none;
        color: white;
    }
    
    a:visited {
        text-decoration: none;
        color: white;
    }
}

@layer header {

    .navbar {
        background: linear-gradient(rgba(21, 21, 21, 1), transparent);
        padding: 15px;
        font-size: 24px;
        font-weight: 500;
    }
    
    .navbar .logo {
        float: left;
        padding: 15px;
    }

    #logoImg {
        height: 35px;
        padding: 0 5px;
    }
      
    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 570px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin: auto;
    }
      
    .nav-list li {
        display: inline;
    }
    
    .navbar a:hover{
        font-weight: 800;
    }
    
    .search-form {
        display: flex;
        margin: auto;
        align-items: center;
        max-width: 580px;
        height: 20px;
        border: 3px solid #ccc;
        background-color: rgba(255,255,255,.25);
        opacity: 30%;
        border-radius: 30px;
        padding: 5px;
        &:hover{
         opacity: 100;
        }
    }
      
    .search-form input {
        border: none;
        width: 100%;
        padding: 5px;
        outline: none;
        color: white;
        background-color: transparent;
        font-size: 20px;
    }
      
    .search-form button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        filter: invert(100%);
    }
      
    .menu-toggle {
        float: right;
        display: none;
        cursor: pointer;
        padding: 0 5px;
    }
      
    .menu-toggle span {
        background-color: white;
        display: block;
        width: 28px;
        height: 3px;
        margin: 4px 0 9px;
    }
      
    @media screen and (max-width: 600px) {
        .navbar .logo {
          float: left;
          padding: 0;
        }
      
        .nav-list {
          display: none;
          text-align: right;
          padding-right: 10px;
        }
      
        .nav-list li {
          display: block;
        }
      
        .search-form {
          float: none;         
        }
      
        .menu-toggle {
          display: block;
        }
    }

}

@layer background {

    #homeBg{
        height: 100vh;
        width: 100%;
        background: url(../assets/img/IMG_EEAAO.png);
        background-size: cover;
        background-position: bottom;
    }
}

@layer infos-site {

    #sobre-site {
        display: grid;
        justify-content: center;
        place-items: center;
        margin-top: 30%;
        padding: 15px;
    }
    
    #sobre-site h1 {
        font-size: 40px;
        font-weight: 700;
        max-width: 750px;
        text-align: center;
        margin-bottom: 0;
    }
    
    #sobre-site p {
        font-size: 20px;
        font-weight: 400;
        margin-top: 0;
        max-width: 750px;
        text-align: center;
    }
}

@layer infos-oscars {

    #sobre-oscars {
        padding: 35px;
    }

    #sobre-oscars h2 {
        font-size: 70px;
        font-weight: 600;
        color: rgba(181,145,48,1);
        margin-top: -35px;
        margin-bottom: 0;
        overflow: hidden;
    }

    #sobre-oscars h3 {
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
    }

    #sobre-oscars img {
        max-width: 100%; 
        height: auto; 
        border-radius: 8px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
}

@layer footer {

    footer {
        margin-top: 20px;
        display: grid;
        justify-content: center;
        place-items: center;
        font-size: 14px;
        font-weight: 400;
        color: white;
        padding: 15px;
    }
    
    footer p {
        margin-top: 0;
    }
    
    footer a:link {
        color: white;
        text-decoration: underline;
    }
    
    footer a:hover {
        font-weight: 500;
        color: #bbb !important;
    }
    
    footer a:visited {
        color: white;
    }
    
    .termos {
        display: flex;
        margin: 0 5px;
    } 

    @media screen and (max-width: 600px) {
        footer {
            display: grid;
            justify-items: start;
        }

        .termos {
            display: grid;
            justify-content: left;
            margin: 0;
            margin-bottom: 5px;
        }
    }
}